.graph-container {
    margin: 50px auto 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#e3e8f1 1px, #ffffff 1px) !important;
    background-size: 30px 30px;
}

.graph-wrapper {
    width: 100%;
    height: calc(100vh - 50px);
}

.graph-component {
    height: 100%;
}

.vis-manipulation {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex !important;
    gap: 5px;
}

.vis-manipulation .vis-add {
    display: none;
}

.vis-edit-mode {
    position: absolute;
    top: 10px;
    left: 10px;
}

.vis-manipulation button, .vis-edit-mode button {
    border: none;
    background-color: rgb(0, 140, 255);
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.info-panel {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 210px;
    padding: 10px;
    background-color: #fff;
    border: 0.5px solid #e3e8f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.info-panel-item {
    color: #75838a !important;
}

.support-info-panel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 0.5px solid #e3e8f1;
    border-radius: 8px;
    color: #96b4db;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
}

.filter-panel {
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 0.5px solid #e3e8f1;
    border-radius: 8px;
}