.empty_file_img {
   width: fit-content;
   height: 120px;
   object-fit: fill;
   margin: 20px auto;
}

.quick_btn {
   color: #3b82f6;
   border: none;
   background-color: transparent;
   margin: 10px 0;
}

.quick_btn:hover {
   color: #1e40af;
}

.nav_btn {
   height: 80px;
   width: 100%;
   background-color: #F7F9FC;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 20px;
   cursor: pointer;
   border: none;
}

.nav_btn:hover {
   border: 1px solid #3b82f6;
}

.nav_icon {
   margin-right: 20px;
   font-size: 25px;
}