.empty_file_img {
    width: fit-content;
    height: 120px;
    object-fit: fill;
    margin: 20px auto;
}

.quick_btn {
    color: #3b82f6;
    border: none;
    background-color: transparent;
    margin: 10px 0;
}

.quick_btn:hover {
    color: #1e40af;
}

.nav-btn {
    height: 80px;
    width: 100%;
    background-color: #F7F9FC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    border: none;
}

.nav-btn:hover {
    border: 1px solid #3b82f6;
}

.nav-icon {
    margin-right: 20px;
    font-size: 25px;
}

.home-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff !important;
    border-right: 0.8px solid #dddddd;
}

.sider-top {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-img {
    width: 600px;
    height: auto;
    object-fit: cover;
    border: 0.5px solid #3b82f6;
    border-radius: 8px;
}