.empty_file_img {
    width: fit-content;
    height: 120px;
    object-fit: fill;
    margin: 20px auto;
}

.quick_btn {
    color: #3b82f6;
    border: none;
    background-color: transparent;
    margin: 10px 0;
}

.quick_btn:hover {
    color: #1e40af;
}

.nav_btn {
    height: 80px;
    width: 100%;
    background-color: #F7F9FC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    border: none;
}

.nav_btn:hover {
    border: 1px solid #3b82f6;
}

.nav_icon {
    margin-right: 20px;
    font-size: 25px;
}

.home-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff !important;
    border-right: 0.8px solid #dddddd;
}

.sider-top {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.working-space-container {
    height: calc(100vh - 50px);
    margin-top: 50px;
}

.space-divider {
    width: 5px;
    background-color: #dee3e6;
}

.space-divider:hover,
.space-divider:focus {
    background-color: #97ccf7;
}

.dual-note-panel {
    background-color: #fff;
}