.table-container {
    width: 100%;
    height: calc(100vh - 50px);
    margin: 50px auto 0;
    background-color: #fff;
}


.table-view-title {
    width: 90%;
    margin: 0 auto;
    /* border-bottom: 0.5px solid #cfd4da; */
}

.table-view-title h2 {
    margin: 15px auto 5px;
    color: #1f99ff;
}

.table-view-title p {
    color: #7a8694;
    font-style: italic;
    margin: 0 0 10px;
    font-size: 11.5px;
}

.table-component {
    width: 90%;
    height: 90%;
    min-height: 800px;
    margin: 0 auto;
    padding: 15px;
    border: 0.3px solid #d2d6db;
    border-radius: 8px;
}