.header-container {
   /* background-color: #F3F8Fe; */
   background-color: #FFF;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8px;
   border-bottom: 0.8px solid #ebebeb;
}

.header-left {
   display: flex;
   align-items: center;
}

.btn-logo {
   border: none;
   background-color: transparent;
}
.breadcrumb {
   font-weight: 500;
   margin-left: 10px;
}

.icon {
   font-size: 20px;
}

.btn-toolbar {
   margin-right: 20px;
}