.profile-container {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #fff;
    margin: 50px auto 0;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: flex-start;
}

.profile-wrapper {
    width: 50%;
    height: fit-content;
    border: 0.3px solid #e4e5e9;
    border-radius: 8px;
    padding: 20px;
}

.profile-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-name {
    width: 200px;
}

.profile-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-item-title {
    width: 200px;
    color: #83929c;
    font-size: 17px;
}

.fullname-title {
    color: #83929c;
    font-size: 14px;
}

.profile-item-content,
.fullname {
    color: #59646d;
    font-weight: 600;
    font-size: 17px;
}

.profile-item-ctn {
    display: flex;
    gap: 20px;
    align-items: center;
}