.container-metadata {
   margin: 20px auto;
   width: 600px;
   border: 1.5px solid #99A8B4;
   border-radius: 8px;
   height: fit-content;
}

.metadata-list {
   font-weight: 400;
   color: #000;
}

.metadata-item {
   display: flex;
   align-items: center;
}
.metadata-item .item-title {
   width: 100px;
}
