.quicktool-container {
   margin: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.new-item-container {
   display: flex;
   flex-direction: column;

}

.new-item {
   width: 100%;
   text-align: start;
}

.new-item-btn-container {
   width: 100%;
   padding: 0 20px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.ant-menu-item {
   height: 30px !important;

}